
*{margin: 0; padding: 0;}

body{
	margin: 6px;
}
.main{
	width: 1020px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: #d6d0c2;
	margin: 0 auto;
}
.title_top{
	text-align: center;
	text-transform: uppercase;
	padding: 50px;
}
.project{
	margin: 0 auto;
	width: 700px;
	margin-bottom: 50px;
}
.project_title{
	width: 700px;
	display: inline-block;
	background: url(image_path('back_proj_title.png'));
	border: 1px solid #315589;
}
.project_name{
	line-height: 49px;
	color: white;
}
.new_task{
	margin-top: 2px;
}
.text_field {
	width: 373px;
	line-height: 26px;
	// margin-top: 4px;
}
.dead_line{
	line-height: 24px;
	width: 144px;
}
.task_input_button {
	width: 105px; 
	background: url(image_path('back_proj_inp_but.png'));
	border: 1px solid #447557;
	color: white; 
	text-align: center;
	font-size: 13px;
	line-height: 26px
}
.edit_project{
	float: left;
	margin-top: 10px;
}
.project_edit_input{
	display: none;
}
.project_title_notepad{
	margin: 11px;
	float: left;
}
.task_creator_img{
	margin: 11px;
	float: left;
}
.edit_project_button{
	
}

.edit_project{
	display: none;
}
.edit_task{
	display: none;
}
.project_input{
	float: left;
	width: 346px;
	margin-top: 6px;
	background: url(image_path("back_proj_inp.png"));
	border-left: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;  
	border-right: 1px solid #aaaaaa;
	line-height: 26px;
}


.task_input_button:hover{
	background: url(image_path('back_proj_inp_but_hov.png'));
}
.project_tools{
	float: right;
	display: none;
}
.project_title:hover .project_tools {
	display: block;
}
.delete_project{
	float: right;
	margin-top: 15px;
	margin-right: 12px;
	cursor: pointer;
}
.project_title_strip{
	float: right;
	margin-top: 15px;
	margin-right: 12px;
}
.edit_project_img{
	float: right;
	margin-top: 15px;
	margin-right: 12px;
	cursor: pointer;
}
.project_creator{
	width: 700px;
	display: inline-block;
	background: #d0d0d0;
	border: 1px solid #b2b2a2;
}
.tasks{
	list-style-type: none;
}
.content_task2{
	border-left: 1px solid #efdadf;
	float: left;
	margin-left: 2px;
	padding-left: 8px;
}
.task{
	width: 700px;
	background: white;
	list-style: none;
	// border-top: 1px solid #E7EBEA;
	border-bottom: 1px solid #E7EBEA;
	border-left: 1px solid #E7EBEA;
	border-right: 1px solid #E7EBEA;
	// border-left: 1px solid #abafa2;
	// display: inline-block;
	  // margin-bottom: -5px;
}
.task_checkbox{
	float: left;
	width: 50px;	
}
.checkbox{
	margin-top: 20px;
	margin-left: 20px;
}
.content_task{
	// width: 520px; 
	display: inline-block;
	border-left: 1px solid #efdadf;
	float: left;
	border-right: 1px solid #e7ebea;
}
.task_ok{
	display: none;
}
.task_name{
	width: 420px;
	padding-top: 18px;
	padding-bottom: 17px;
	float: left;	 
}
.text_field_edit{
	width: 250px;
	line-height: 26px;
	margin-top: 4px;
	margin-bottom: 19px
}
.task_date{

	padding-top: 18px;
	float: right;
	margin-right:10px;
	padding-bottom: 17px;
}
.content_task_right{
	float: right;
	margin-top: 6px;
	padding-left: 10px;
	display: none;
}
.task:hover .content_task_right{
	display: block;
}
.delete_task{
	float: right;
	margin-top: 15px;
	margin-right: 12px;
	cursor: pointer;
}
.task_title_strip{
	float: right;
	margin-top: 15px;
	margin-right: 12px;
}
.edit_task_img{
	float: right;
	margin-top: 15px;
	margin-right: 12px;
	cursor: pointer;
}
.sorting_task{
	float: right;
	margin-top: 15px;
	margin-right: 12px;
	cursor: pointer;
}
.add_button{
	text-align: center;
	margin-top: 50px;
	margin: 0 auto;
}
.Add_list{
	text-decoration: none;
	background: url(image_path('back_add_list.png'));
	color: white;
	border: 1px solid #315589;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	width: 210px;
	line-height: 46px; 
}
.Add_list:visited{
	text-decoration: none;
	color: white;
	border: 1px solid #315589;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	width: 210px;
	line-height: 46px;
}
.Add_list:hover{
	text-decoration: none;
	background: url(image_path('back_add_list_hov.png'));
	color: white;
	border: 1px solid #315589;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	width: 210px;
	line-height: 46px;
}
.add{
	float: left;
	font-size: 20px;
	font-weight: bold;
}
.right{
	margin-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.new_project{
	margin: 0 auto;
	width: 500px;
	margin-top: 50px;
	display: none;
	background: url(image_path('back_proj_title.png'));
	border: 1px solid #315589;
}
li .handle {
  font-size: 12px;
  cursor: move;
  color: #777;
}
.text_field_project{
	line-height: 24px;
	width: 373px;
}
.project_edit_button{
	width: 105px; 
	background: url(image_path('back_proj_inp_but.png'));
	border: 1px solid #447557;
	color: white; 
	text-align: center;
	font-size: 13px;
	line-height: 26px
}
.project_edit_button:hover{
	background: url(image_path('back_proj_inp_but_hov.png'));
}
.project_create_input{
	width: 381px;
	padding: 3px;
}
.inp{
	width: 105px; 
	background: url(image_path('back_proj_inp_but.png'));
	border: 1px solid #447557;
	color: white; 
	text-align: center;
	font-size: 13px;
	line-height: 26px
}
.inp:hover{
	background: url(image_path('back_proj_inp_but_hov.png'));
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

